In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('/content/us-airlines-monthly-aircraft-miles-flown.csv').getOrCreate()

In [4]:
df = spark.read.csv("/content/us-airlines-monthly-aircraft-miles-flown.csv")

In [5]:
df.show()

+-------+-------+
|    _c0|    _c1|
+-------+-------+
|  Month|MilesMM|
|1963-01|   6827|
|1963-02|   6178|
|1963-03|   7084|
|1963-04|   8162|
|1963-05|   8462|
|1963-06|   9644|
|1963-07|  10466|
|1963-08|  10748|
|1963-09|   9963|
|1963-10|   8194|
|1963-11|   6848|
|1963-12|   7027|
|1964-01|   7269|
|1964-02|   6775|
|1964-03|   7819|
|1964-04|   8371|
|1964-05|   9069|
|1964-06|  10248|
|1964-07|  11030|
+-------+-------+
only showing top 20 rows

In [6]:
df=spark.read.option("header",True).csv("/content/us-airlines-monthly-aircraft-miles-flown.csv")

In [7]:
df.show()

+-------+-------+
|  Month|MilesMM|
+-------+-------+
|1963-01|   6827|
|1963-02|   6178|
|1963-03|   7084|
|1963-04|   8162|
|1963-05|   8462|
|1963-06|   9644|
|1963-07|  10466|
|1963-08|  10748|
|1963-09|   9963|
|1963-10|   8194|
|1963-11|   6848|
|1963-12|   7027|
|1964-01|   7269|
|1964-02|   6775|
|1964-03|   7819|
|1964-04|   8371|
|1964-05|   9069|
|1964-06|  10248|
|1964-07|  11030|
|1964-08|  10882|
+-------+-------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- Month: string (nullable = true)
 |-- MilesMM: string (nullable = true)

In [9]:
df = spark.read.option("header", True).option("inferschema", True).csv("/content/us-airlines-monthly-aircraft-miles-flown.csv")

In [10]:
df.printSchema()

root
 |-- Month: timestamp (nullable = true)
 |-- MilesMM: integer (nullable = true)

In [11]:
df.describe().show()

+-------+------------------+
|summary|           MilesMM|
+-------+------------------+
|  count|                96|
|   mean|10385.739583333334|
| stddev|2202.5005513819337|
|    min|              6178|
|    max|             16234|
+-------+------------------+

In [12]:
df.summary().show()

+-------+------------------+
|summary|           MilesMM|
+-------+------------------+
|  count|                96|
|   mean|10385.739583333334|
| stddev|2202.5005513819337|
|    min|              6178|
|    25%|              8484|
|    50%|             10366|
|    75%|             11637|
|    max|             16234|
+-------+------------------+